{% extends "shared/_layout.html" %}
{% block title %} Index {% endblock %}
{% block main %}
    <div class="justify-content-center text-center">
    <h1>Index</h1>

    <strong>Conteudo da pagina index</strong>
    {% if user %}
        Olá, {{ user.name }}
    {% endif %}

    {% if users %}
        <div class="card-deck text-center">
        {% for person in users %}
                    <div class="card text-white bg-dark mb-3 text-right border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ person.name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ person.username }}</h6>
                            <p class="card-text"> Algum texto qualquer e a senha: {{ person.password }} </p>
                            <a href="#" class="card-link">Sans Lorem</a>
                            <a href="#" class="card-link">Bug bug</a>
                        </div>
                     </div>
                {% if loop.index %3== 0 and not loop.last %}
                    </div><div class="card-deck text-center">
                {% endif %}
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}