Hello, my name is Hedgar and I'm going to present some possible solutions, which are mainly ideas
for the current problems we've benn facing.

So first of all I'd like to consider the security of our hotels wifi due to the possible account/password/access sharing
because when our users are connecting to our wifi they have access to our network, even though it's limited,
for hackers that might be enough to steal some data and have access to all the network.
I though that we could possibly generate some sort of token that can be used only once when connecting and that token
would authenticate the user's smart phone data so they wouldn't be able to share the access with other non users people.

By doing that we'd be decreasing the chances of invasion but still anyone could rent a room in order to exploit some
of the system weaknesses.
Something that I find very interesting filtering the entrance to our database warehouses and servers with people bringing
any kind of hardware that are not necessary for that circumstance that could also decrease number of possible threats.

I've also noticed that marketing investments have decreased a lot, maybe we could use some kind of AI/ Machine Learning
technology to see the places where our current clients are more interested on traveling to and perhaps give them
some discounts or bonuses.

That's all and I appreciate the patience and oportunity.