<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <title> {% block title %} {% endblock %} - Flask App</title>
    <body>

            {% include "shared/_nav.html" %}

        <div class="container body-content">
            {% block main%}

            {% endblock %}
        </div>
     <script src="{{ url_for('static', filename='js/jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>

    </body>
    <footer>
        <p><i class="fas fa-laptop-code"></i> Hedgar Bezerra  - XCution </p>
    </footer>
</html>