{% extends 'shared/_layout.html' %}

{% block title %} {{ user.name }} password {% endblock %}

{% block main %}

     <div class="container">
        <form method="POST" enctype="multipart/form-data">

            {{ passwd_form.csrf_token }}

            <div class="form-row justify-content-center">
                <div class="form-group col-md-3 text-center">
                    <label for="password"> Password </label>
                    <div class="input-group mx-auto mb-3">
                        {{passwd_form.password(class='form-control') }}
                    </div>
                </div>
            </div>

            <div class="form-row justify-content-center">
                <div class="form-group col-md-3 text-center">
                    <label for="confirm"> Confirm your password </label>
                    <div class="input-group mx-auto mb-3">
                        {{ passwd_form.confirm(class='form-control') }}
                    </div>
                </div>
            </div>
                   <div class="form-row justify-content-center">
                <div class="form-group col-md-6 text-right">
                    <div class="input-group offset-7">
                        <button class="btn btn-outline-success">Finish</button>
                    </div>
                </div>
            </div>
        </form>
    </div>


  {% include "shared/_errors.html" %}

{% endblock %}